


/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.navbar {
    height: 100px;
}

.navbar-toggler {
    border: none;
}

.navbar.scrolled {
  background-color: white !important;
  box-shadow: 0px 28px 12px -16px rgba(0,0,0,0.1);
}





/* -------------------------------------------------------------------------- */
/*                                   SWIPER                                   */
/* -------------------------------------------------------------------------- */


.swiper-button-next, .swiper-button-prev {
  color: rgb(22, 22, 22) !important;
}


/* -------------------------------------------------------------------------- */
/*                                    CARDS                                   */
/* -------------------------------------------------------------------------- */

.card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease .5s, box-shadow ease .5s;
  margin-bottom: 10rem;
}
.card:hover {
  transform: translateY(-13px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.116);
}


/* -------------------------------------------------------------------------- */
/*                                  CARRELLO                                  */
/* -------------------------------------------------------------------------- */

.titoloCarrello {
  padding-top: 8rem;
}


#listaRiep {
  display: flex !important;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */


#main-footer {
    margin-bottom: 0 !important;
}


ul {
    list-style-type: none; /* Rimuove i pallini dalla lista */
    padding: 0; /* Rimuove il padding predefinito della lista */
  }
  
  ul li {
    margin-bottom: 10px; /* Aggiunge un margine inferiore tra gli elementi della lista */
  }
  
  a:hover {
    text-decoration: none; /* Assicura che la sottolineatura non venga visualizzata al passaggio del mouse */
  }
  

  a {
    text-decoration: none; /* Rimuove la sottolineatura dai link */
    display: inline-block; /* Permette di gestire il padding */
  }
  
  a i {
    margin-right: 5px; /* Aggiunge uno spazio a destra tra l'icona e il testo */
  }
  




  /* -------------------------------------------------------------------------- */
  /*                                 MEDIA QUERY                                */
  /* -------------------------------------------------------------------------- */


  
